fastapi
uvicorn
transformers
SentencePiece
torch
#venv
anyio
asttokens
backcall
certifi
charset-normalizer
click
decorator
executing
fastapi
filelock
h11
huggingface-hub
idna
ipython
jedi
jinja2
joblib
jsonpickle
matplotlib-inline
numpy
packaging
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
pure-eval
pydantic
Pygments
pyparsing
PyYAML
regex
requests
scikit-learn
scipy
sentencepiece
six
sniffio
stack-data
starlette
threadpoolctl
tokenizers
torch
tqdm
traitlets
transformers
typing_extensions
urllib3
uvicorn
wcwidth
