<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PET APP</title>

</head>
<body>
<h1> PET APP </h1>
<form method = "POST" enctype="multipart/form-data">
    <label for="file">Upload csv data in a zip file</label><br>
    <input type="file",id="file" name="file"><br><br>
    <label for="Model">Define columns numbers:</label><br>
    <label for="fname">Samples:</label>
    <input type="text" id="fname" name="fname">
    <label for="lname">Labels:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <label for="Model">Define verbalizer mapping (label: mapping):</label><br>
    <label for="vverb1">"1":</label>
    <input type="text" id="vverb1" name="vverb">
    <label for="vverb2">"2":</label>
    <input type="text" id="vverb2" name="vverb"><br><br>
    <label for="templ">Define templates:</label><br>
    <input type="text" id="templ" name="vverb"><br><br>
    <label for="Model">Define your language model:</label><br>
    <INPUT TYPE="Radio" Name="Model" Value="gbert-base">gbert-base
    <INPUT TYPE="Radio" Name="Model" Value="gbert-base-clinical">gbert-base-clinical<br>
<input type = "submit",value = "Submit">
</form>
<iframe name="frame" style="display:none;"></iframe>
</body>
</html>